@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
    background: #e9e9e9;
    background-image: url('background.jpg');
    background-size: cover;
    padding: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: grid;
    align-items: center;
    grid-template-columns: 300px auto;
    background-repeat: no-repeat;
}

body:after {
    content: "Web-design only based on Learning Lab tutorial. Thank you.";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    color: #1a1a1a;
    font-size: 12pt;
}

h1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    color: rgb(104, 85, 57);
    font-size: 48pt;
    font-family: 'Playfair Display', sans-serif;
  
    background-image: linear-gradient(120deg, rgb(30,77,53) 0%, rgb(245, 233, 149) 50%, rgb(28, 33, 104) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;        
}

img {
    grid-row-start: 2;
    grid-column-start: 1;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
}
p {
    grid-row-start: 2;
    grid-column-start 2:
    font-size: 18pt;
    font-family: 'Comic Sans MS', cursive;
}

ul {
    list-style-type: none;
    grid-row-start: 4;
    grid-column-start: 2;
    width: 200px;
    font-size: 14pt;
} 

ul:before {
    content: 'My favourite sites are:';
    font-family: 'Permanent Marker', cursive;
    color: rgb(28, 33, 104);
    background-color: rgba(245, 233, 149, 0.5);
    font-size: 18pt;
}

li {
    padding-top: 10px;
}


  @-webkit-keyframes underline-gradient {
    0% {
      -webkit-transform: translate3d(0%, 0%, 0);
              transform: translate3d(0%, 0%, 0);
    }
    100% {
      -webkit-transform: translate3d(-75%, 0%, 0);
              transform: translate3d(-75%, 0%, 0);
    }
  }
  
  @keyframes underline-gradient {
    0% {
      -webkit-transform: translate3d(0%, 0%, 0);
              transform: translate3d(0%, 0%, 0);
    }
    100% {
      -webkit-transform: translate3d(-75%, 0%, 0);
              transform: translate3d(-75%, 0%, 0);
    }
  }
  
